<div class="sidebar">
  <a href="{% url 'index' %}" class="text-decoration-none">
    <h4 class="mb-4">Goodfilms</h4>
  </a>

  <a href="{% url 'dashboard' %}" class="{% if active_page == 'dashboard' %}active{% endif %}">
    <i class="fas fa-chart-line"></i> Dashboard
  </a>

  <a href="{% url 'favoritos' %}" class="{% if active_page == 'favoritos' %}active{% endif %}">
    <i class="fas fa-heart"></i> Favoritos
  </a>

  <a href="{% url 'home_user' %}" class="{% if active_page == 'home_user' %}active{% endif %}">
    <i class="fas fa-house"></i> Home
  </a>

  <a href="{% url 'meus_filmes' %}" class="{% if active_page == 'meus_filmes' %}active{% endif %}">
    <i class="fas fa-film"></i> Meus Filmes
  </a>

  <a href="{% url 'cadastro_de_filme' %}" class="{% if active_page == 'cadastro_de_filme' %}active{% endif %}">
    <i class="fas fa-plus"></i> Novo Filme
  </a>

  <a href="{% url 'configuracoes' %}" class="{% if active_page == 'configuracoes' %}active{% endif %}">
    <i class="fas fa-cog"></i> Configurações
  </a>
</div>